@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #273C56;
    font-family: 'IBM Plex Sans',
        sans-serif;
    color: #fff;
}

.container {
    width: 1220px;
    background: #152436;
    box-shadow: 0px 36px 24px -29px rgba(13, 29, 49, 0.621066);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container .title {
    font-size: 26px;
    line-height: 34px;
    text-align: center;
    margin-top: 80px;
    margin-bottom: 85px;
}


.stats {
    display: flex;
    text-align: center;
    margin-bottom: 97px;
}

.stat-card {
    width: 286px;
    text-align: center;
    margin-right: 55px;
}

.stat-card:last-child {
    margin-right: 0;

}


.stats .number {
    font-size: 48px;
    line-height: 62px;
    font-weight: bold;
    margin-bottom: 24px;
}

.stats .description {
    font-size: 18px;
    line-height: 27px;
}

.stats-footer {
    margin-bottom: 80px;
    font-size: 16px;
    line-height: 21px;
}

.stats-footer .blue-text {
    color: #456AFF;
    cursor: pointer;
}


.stats-footer .blue-text:hover {
    text-decoration: underline;
}